{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h2>Generated:</h2>
    <div>Countries: {{ country }}</div>
    <div>Teams: {{ team }}</div>
    <div>Coaches: {{ coach }}</div>
    <div>Players: {{ player }}</div>
{% endblock %}