{% extends 'AppBundle::base.html.twig' %}
{% block title %}Delete country{% endblock %}
{% block body %}
    <h2>Delete country</h2>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock body %}