{% extends 'AppBundle::base.html.twig' %}
{% block title %}Delete player{% endblock %}
{% block body %}
    <h2>Delete player</h2>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock body %}