{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Result</h1>
    <div class="count">
    {{ pagination.getTotalItemCount }}
    </div>
    {% for player in pagination %}
        <li><a href="search.html.twig">{{ player.name }}</a> </li>
    {% else %}
        <li><em>no player found</em></li>
    {% endfor %}

    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}