{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1> Games </h1>
    <div class="count">
        All games - {{ pagination.getTotalItemCount }}
        <hr>
    </div>

    {% for game in pagination %}
        {% for team in game.teams %}
           <p> {{ team.country.name }}</p>
        {% endfor %}
        {{ game.score }}
        <hr>
    {% endfor %}

    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}